*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html
{
    height: 100%;
}

body
{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
}

body, a, input, textarea, button
{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    line-height: 1.5;
}

#app
{
    display: flex;
    flex-flow: row nowrap;
    min-height: 100%;

    flex-grow: 1;
}

.content
{
    flex-grow: 1;
}