@import url('./bootstrap.min.css');

*
{
	box-sizing: border-box;

	outline: none;
}

html
{
	height: 100%;
}

body
{
	display: flex;
	flex-flow: column nowrap;

	min-height: 100%;
}

#app
{
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;

	min-height: 100%;
}

.content
{
    width: calc(100% - 55px);
	flex-grow: 1;
}

.info.tech p
{
    display: flex;
    flex-flow: row nowrap;
}

.info strong
{
    margin-right: 10px;
}

.info p.additional
{
	margin-top: -1em;
}

.info .content_info
{
	padding: 0 20px;
}