*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
}

#app
{
    display: flex;
    flex-flow: row nowrap;
    min-height: 100%;

    flex-grow: 1;
}

.content
{
    flex-grow: 1;
}